<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alanddev.manwal" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TransactionActivity"
            android:label="@string/title_activity_transaction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.TransactionAddActivity"
            android:label="@string/title_activity_transaction_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.WalletAddActivity"
            android:label="@string/title_activity_wallet_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ListCurrencyActivity"
            android:label="@string/title_activity_list_currency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.WalletsActivity"
            android:label="@string/title_activity_wallets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.WalletEditActivity"
            android:label="@string/title_activity_wallet_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.TrendActivity"
            android:label="@string/title_activity_trend"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.TransactionDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BudgetActivity"
            android:label="@string/title_activity_budget"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BudgetAddActivity"
            android:label="@string/title_activity_budget"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SettingActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SelectThemeActivity"
            android:label="@string/title_activity_select_theme"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.WalletTransferActivity"
            android:label="@string/title_activity_wallet_transfer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
